.heading {
    margin-top: 77px;
}
.choose-level {

    font-weight: normal;
}
.description-text {
    margin-top: 16px;
}
.stream-text {
    margin-top: -5px;
}
.stream-btn {
    background-color: #3b9ad7;
    margin-top: -8px;
    border-color: white;
}
