.heading {
    margin-top: 73px;
}
.choose-level {
    color: #707070;
    font-weight: normal;
}
.cards-section {
    margin-top: 73px;
}

.card-hover:hover, .card-hover:active{

    /* box-shadow: 0 0.125rem 1.25rem rgba(0,0,0,0.275)!important; */
    box-shadow: 0 0.125rem 1.25rem #80bdff !important;

}

.card {
    width: 155px;
    height: 104px;
}